###################
# C++ Default
###################
*.o
*.out
*.exe

##################
# CMake
##################
*/CMakeLists.txt
cmake-build-debug/

##################
# IDEA
##################
.idea/*
*.iml
*.xml
